/*--------------Características generales--------------*/
@font-face {
    font-family: 'futura';
    src: url(../fonts/futura-maxi-cg-bold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'futura';
    color: white;
}
body {
    background-color: #25282a;
    background-image: url(../images/fondo.png);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    padding-top: 100px;     
}
h1{
    text-align: center;
    margin: 0 auto;
}
form{
    margin: 0 auto;
    background-color: #5d5e62;
    width: 40%;
    height: 400px;
    padding: 30px 58px;
    line-height: 335%;
}
input{
    border: 10px solid red;
    margin: 0 auto;
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: #25262a;
    color: white;
}
a{
    text-decoration: none;
    color: gold;
}
/*--------------Botón acceder--------------*/
.button{
    background-color: #25262a;
    margin: 0 auto;
    width: 100%;
    border: none;
}
.button:hover {
    color: gold;
    cursor: pointer;
    transition: .5s;
    background-color: #25262a;
}
/*--------------Clase controls (es decir, todos los inputs)--------------*/
.controls{
    border: none;
}
.controls:focus{
    transition: .5s;
    height: 45px;
    border-top: 4px solid gold;
}   

.controls:focus:valid{
    transition: .5s;
    height: 45px;
    border-top: 4px solid gold;
    
}
.controls::placeholder{
    color: #989898;
}
.controls:focus:invalid{
    transition: .5s;
    background-color: indianred
}




